.ContainerTaskTwo li {
  list-style: decimal;
}
.ContainerTaskTwo ol {
  margin-right: 5rem;
}
.inputContainer {
  width: 100vw;
  display: flex;
  justify-content: center;
}
.inputNumber {
  width: 30px;
}
.inputContainer button {
  padding: .2rem 1rem;
}
